*{
    margin: 0;
    padding: 0;
}

body{
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.container{
    
    width: 1000px;
    height: 500px;
    background-color: rgb(222, 190, 45);
    margin-left: 400px;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-top: 100px;
    color:hwb(208 7% 9%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    padding: 30px;
    padding-bottom: 10px;
}
h6{
    text-align: center;
    color:hwb(4 26% 23%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    
    
}
.search{
 display: flex;
 justify-content: center;

}


.search .form-control{
   border: 1px red solid ;
   width: 700px;
   height: 50px;
   border-radius: 20px;
   background-color: oldlace;
   margin-top: 30px;
  

}

#btn{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: hwb(208 7% 9%);;
    font-size: 20px;
    font-weight: bold;
    color: hwb(0 20% 78%);
    margin-left: 200px;
    border: none;

}
table {
    border-collapse: collapse;
    width: 1000px;
    margin-left: 400PX;
    background-color: rgb(222, 190, 45);
    border-radius: 20px;
  }

  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #8ffa37;
  }
